



.page-camera{
    height:calc(100vh - 56px);
    background: #292929;
}

.cam-holder-holder{
    display:grid;
    grid-template-columns: repeat(10 ,300px);
    height: 100%;
    overflow-x: scroll;
    user-select: none;
}

.cam-holder-holder.open{
    grid-template-columns: 300px 1fr;
}

.cam-holder-holder.mobile{
    grid-template-columns: 1fr;
    grid-template-rows:30px 1fr;
}

.cam-holder {
    box-sizing: border-box;
    /* width: 300px; */
    padding-bottom: 10px;
    
    background: #323232;
    display: grid;
    grid-template-rows: 50px 20px minmax(10% ,240px) 15px 25px 30px minmax(40% , 1fr);
    row-gap: 10px;
    padding-bottom: 10px;
    border-right:1px solid #141414;
}

.cam-header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    outline: 1px solid #1a1a1a;
}

.cam-header.active{
    background: rgb(181,0,0);
    background: linear-gradient(90deg, rgba(181,0,0,1) 0%, rgba(255,0,0,1) 24%, rgba(255,0,0,1) 76%, rgba(181,0,0,1) 100%);
}

.cam-header-onAir{
    line-height: 50px;
    color: #fefefe;
    text-align: center;
    font-size: 25px;
}

.cam-header-title {
    line-height: 50px;
    color: #fefefe;
    margin-left: 10px;
    font-size: 25px;
}

.cam-black-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    background: #000;
}

.cam-black-item{
    display:grid;
    /* column-gap: 10px; */
    grid-template-columns: 1fr auto 1fr;
}   



.cam-black-text {
    text-align: center;
    color: rgb(211, 211, 211);
    font-size: 17px;
    user-select: none;
    line-height: 30px;
}

.cam-black-arrow{
    line-height: 30px; 
    color: rgb(88, 88, 88);
    padding-left:9px;
}

.cam-black-arrow.left{
    text-align:right;
    padding-right:10px;
    padding-left:0px;
}

.cam-black-arrow:active{
    color:orange;
}

.cam-bottom-holder {
    display: grid;
    grid-template-columns: 50px 1fr 50px;

    /* margin-bottom:10px; */
}

.cam-aperture {
    display: grid;
    grid-template-rows: 30px 1fr 20px;
}

.cam-aperture-label {
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    user-select: none;
    color: #717171;
}

.cam-aperture-holder {
    display: grid;
    grid-template-rows: repeat(24, minmax(6px, 1fr));
    /* row-gap: minmax(5px,10%); */
    margin: 0px 20px;
}

.cam-aperture-item {
    background:#222222;
    height: 5px;
    border-radius: 2px;
    border: 1px solid #1a1a1ac5;
}

.cam-aperture-item.on{
    background: #82e853;
    box-shadow: 0px 0px 2px 1px rgba(30, 255, 0, 0.123);
}

.cam-mid-holder {
    display: grid;
    grid-template-rows: 1fr 20px;
    row-gap: 10px;
}

.cam-mid {
    background: #232323;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px 1px #1a1a1a;
    position: relative;
    /* margin-top:10px; */
}

.cam-mid-x {
    position: absolute;
    top: 50%;
    height: 0px;
    width: 100%;
    border-top: 1px solid #181818;
    border-bottom: 1px solid #262626;
}

.cam-mid-thumb-x {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
}

.cam-mid-thumb-y {
    position: absolute;
    width: 1px;
    height: 100%;
}


.cam-mid-y {
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
    border-left: 1px solid #181818;
    border-right: 1px solid #262626;
}

.cam-mid-thumb{
    position: absolute;
    height:50px;
    width:50px;
    background:url("1.png");
    border-radius: 50%;
    box-shadow: 0px 1px 5px #1a1a1a;
    overscroll-behavior: contain;
    touch-action: none;
}

.cam-mid-thumb.red{
    background:url("2_red.png"); 
}

.cam-mid-thumb.orange{
    background:url("2_orange.png"); 
}

.cam-mid-thumb-holder{
    display:grid;
    grid-template-rows: 1fr 20px;
    position: relative;
    width:100%;
    height:100%;
    /* margin-bottom: 20px; */
}

.cam-value-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.cam-value {
    display: grid;
    grid-template-rows: 1fr 2px;
}

.cam-value-value {
    text-align: center;
    color: rgb(211, 211, 211);
    font-size: 17px;
    user-select: none;
}

.cam-value-value.active{
    color:orange;
}

.cam-value-colour-bar {
    height: 100%;
    width: 100%;
}

.cam-value-colour-bar.white {
    background: #dbdbdb;
}

.cam-value-colour-bar.red {
    background: #e64b3d;
}

.cam-value-colour-bar.green {
    background: #00a841;
}

.cam-value-colour-bar.blue {
    background: #2a78c8;
}

.cam-focus-holder {
    position: relative;
    border-radius: 3px;
    overflow:hidden;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

.cam-focus-slider {

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* background:#242424; */
    box-shadow: inset 0px 0px 1px 1px #1a1a1a, inset 30px 0px 55px -36px rgba(0, 0, 0, 0.863), inset -30px 0px 55px -36px rgba(0, 0, 0, 0.959);
}

.cam-focus-inner {
    position: absolute;
    height: 100%;
    left: 0px;
    display: grid;
    width:200%;
    grid-template-columns: repeat( auto-fit, minmax(5px, 5px) );
    /* z-index: 4; */
    
}

.cam-focus-inner-inner {
    position: relative;
    border-radius: 4px; 
    background: linear-gradient(90deg, rgba(68,68,68,1) 0%, rgba(52,52,52,1) 20%, rgba(35,35,35,1) 100%);
    border-left:solid 1px #1a1a1a;
  
}

.cam-shadow{
    -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .7));
    overscroll-behavior: contain;
    touch-action: none;
    pointer-events: all;
}


.cam-circle-holder{
    min-width: 0;
    min-height: 0;
    position: relative;
}

.cam-yrgb-holder{
    position: relative;
    border-radius: 3px;
    overflow:hidden;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

.cam-yrgb-inner{
    position: absolute;
    height: 100%;
    left: 0px;
    display: grid;
    width:200%;
    column-gap: 3px;
    grid-template-columns: repeat( auto-fit, minmax(5px, 5px) );
}

.cam-yrgb-inner-inner{
    height:5px;
    width:5px;
    background:#868686;
    margin-top:auto;
    margin-bottom:auto;
    border-radius:50%;
}

.cam-right-holder{
    display:grid;
    grid-template-rows: 25px 1fr 25px 1fr 32px;
}

.cam-zoom-outer{
    display:grid;
    grid-template-columns:1fr 16px 1fr;
}

.cam-zoom-holder {
    position: relative;
    border-radius: 3px;
    overflow:hidden;
    /* width:200px; */
    width:16px;
    height:100%;
}

.cam-zoom-inner {
    position: absolute;
    height: 100%;
    top: 0px;
    height:max-content;
    width:100%;

}

.cam-zoom-inner.scroll{
    transition: top 0.3s;
}

.cam-zoom-inner-inner {
    position: relative;
    border-radius: 4px; 
    height:5px;
    background: linear-gradient( rgba(68,68,68,1) 0%, rgba(52,52,52,1) 20%, rgba(35,35,35,1) 100%);
    border-left:solid 1px #1a1a1a;
  
}

.cam-zoom-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* background:#242424; */   
    box-shadow: inset 0px 0px 1px 1px #1a1a1a, inset 0px 30px 55px -36px rgba(0, 0, 0, 0.863), inset 0px -30px 55px -36px rgba(0, 0, 0, 0.959);
}

.cam-zoom-circle-outer{
    height:10px;
    /* background:red; */
    padding-top:2px;
    background:#202020;
    width:16px;
}

.cam-zoom-circle{
    height:6px;
    width:6px;
    margin:auto;
    background:#d6d6d6;
    border-radius: 50%;
    /* outline:1px solid #1a1a1a; */
}

.cam-zoom-circle-holder{
    position:absolute;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
}

.cam-zoom-circle-holder.scroll{
    transition: top 0.3s;
}

.cam-zoom-label-holder{
    display: grid;
    grid-template-rows: 1f 1fr;
}

.cam-zoom-label{
    text-align: center;
    font-size: 10px;
    user-select: none;
    color: #717171;
    margin-top:auto;
    margin-bottom:auto;
}

.cam-coarse{
    position: relative;
    background:#212121;
    width:3px;
    border-radius:5px;
    margin:5px auto;
}

.cam-coarse-handle{
    overscroll-behavior: contain;
    touch-action: none;
    position: absolute;
    background:grey;
    height:23px;
    width:23px;
    border-radius:50%;
    left: -10px;
    box-shadow: 0px 1px 5px #1a1a1a;
    background: radial-gradient(circle, rgba(49,49,49,1) 20%,rgb(94, 94, 94) 22%,rgb(94, 94, 94) 33%,rgba(49,49,49,1) 35%, rgba(49,49,49,1) 45%, rgb(94, 94, 94) 50%, rgb(68, 68, 68) 100%);
}

.cam-circle-button{
    width:32px;
    height:32px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(55,55,55,1) 0%, rgba(34,34,34,1) 100%);
    border:solid 2px #131313;
    margin:auto;
}

.expand{
    position:absolute;
    bottom:0px;
    right:20px;
}

.cam-circle-button:active{
    background:#222222;
}

.cam-value-bar-button{
    position: relative;
    height:26px;
    width:26px;
    border-radius: 50%;
    border:solid 1px #4d4d4d;
    margin:auto;
    padding-left:6px;
    padding-top:2px;
    font-size:14px;
    color:#666666;
}

.cam-value-bar-button:active{
    color:#505050;
}

.cam-value-bar-menu{
    position: absolute;
    display:grid;
    grid-template-rows: repeat(auto, 1fr);
    border:solid 1px #181818;
    background:#292929;
    /* width:200px; */
    border-radius:5px;
    padding: 5px 0px;
    
    z-index: 10;
}

.cam-value-bar-menu-row{
    color:#c9c9c9;
    width: 150px;
    font-size: 13px;
    padding-left:30px;
    line-height: 23px;
    user-select: none;
}

.cam-value-bar-menu-row:hover{
    background:#111111;
}

.cam-value-bar-menu-row.active{
    color:#ff7300;
}

.cam-expanded-holder{
    display:grid;
    background:#282828;
    grid-template-rows: 50px 2fr 1fr;
}




.cam-expanded-header{
    background: #1f1f1f;
    color:#aaaaaa;
    line-height:50px;
    padding-left:25px;
    font-size:16px;
}

.cam-expanded-circle-holder-holder{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background:#282828;
    padding:20px;
    column-gap:20px;
    max-width: 1120px;
    margin: auto;
    width:100%;
}



.cam-expanded-circle-holder{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 20px 1fr 15px 25px;
    row-gap:10px;
}

.cam-expanded-slider-holder-holder{
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    margin:auto;
    row-gap: 50px;
}

@media only screen and (max-width: 941px) {
    .cam-expanded-holder{
        overflow-y: scroll;
    }

    .cam-expanded-circle-holder-holder{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 350px;
        row-gap:20px;
    }

    .cam-expanded-circle-holder{
        /* max-width:300px; */

    }

    .cam-expanded-slider-holder-holder{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap:10px;
    }
}


.cam-slider{
    user-select: none;
position: relative;
/* background:red; */
height:50px;
min-width: 200px;
}

.cam-expanded-slider-label{
    color:#acacac;
    position: absolute;
    font-size:12px;
    font-weight: bold;
    top:-10px;
}

.cam-expanded-slider-value{
    color:#e2e2e2;
    position: absolute;
    /* font-size:15px; */
    /* font-weight: bold; */
    right:0px;
    top:-15px;
}

.cam-slider .rangeslider{
    background:#181818;
    height: 3px;
}

.cam-slider .rangeslider__fill{
    background:none;
}

.cam-slider .rangeslider__handle {
    height:20px;
    width:20px;
    border-radius:10px;
    background: rgb(108,108,108);
    background: linear-gradient(180deg, rgba(108,108,108,1) 0%, rgba(93,93,93,1) 20%, rgba(66,66,66,1) 100%);
    border:none;
}

.cam-slider .rangeslider__handle:active {
    background: rgb(145, 145, 145);
    background: linear-gradient(180deg, rgb(121, 120, 120) 0%, rgb(104, 104, 104) 20%,rgb(75, 75, 75) 100%);
}

.cam-slider .rangeslider__handle::after {
    display:none;
}

.cam-mobile-selecter-holder{
    margin:auto;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    background: #292929;
    color:#5e5e5e;
    column-gap:10px;
    overflow-x:scroll;
    line-height:30px;
    font-size: 14px;
    text-align: center;
}



.cam-mobile-selecter:hover{
    color:#6e6e6e;
}

.cam-mobile-selecter.active{
 color:orange;
}

.cam-expanded-title{
    color:#c7c7c7;
    font-size:14px;
    font-weight: 700;
    margin:auto;
}